<!DOCTYPE html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <div id="layout">
    <% include ../static/partials/navbar.ejs %>
      <div class="pure-g">
					<div class="pure-u-1">
						<div class="title-bar-left"></div>
							<div class="pure-u-1 main-image" id="top-image">
								<% if (!wiki.image1) { %>
									<img src="https://images.unsplash.com/photo-1523006833682-76d3571494ef?ixlib=rb-0.3.5&s=2225aafbaa5684867a8d4d81beef29f0" alt="gray placeholder"/>
								<% } else { %>
									<img src="<%= wiki.image1 %>" alt="<%= wiki.title %>-main image"/>
								<% } %>
								<h1><%= wiki.title %></h1>
							</div>
						<div class="pure-u-1 wiki-content">
							<div class="pure-u-1 pure-u-lg-2-3 main-content">
								<h4><%= wiki.body %> </h4>

								<p>Lorem ipsum dolor amet distillery hashtag franzen, marfa pickled banh mi chartreuse. Migas fanny pack green juice flexitarian gastropub helvetica synth post-ironic pickled hammock typewriter pok pok ennui. Master cleanse wolf pickled, squid occupy hammock gastropub flexitarian bicycle rights plaid. Air plant normcore banjo chartreuse lyft, vaporware shoreditch artisan af distillery kombucha blue bottle live-edge yuccie YOLO.</p>

								<div class="wiki-menu">
									<h4>Menu</h4>
									<ul>
										<li><a href="#about">About</a></li>
										<li><a href="#taxonomy">Taxonomy</a></li>
										<li><a href="#uses">Uses</a></li>
										<li><a href="#history">History</a></li>
										<li><a href="#pop">Pop Culture</a></li>
										<li><a href="#sources">Sources</a></li>
									</ul>
								</div>

								<h4 id='about'>About</h4>

								<p>Bushwick la croix taiyaki, synth raclette four loko truffaut. Ennui migas trust fund tattooed. Hell of disrupt put a bird on it twee fanny pack copper mug you probably haven't heard of them, 90's YOLO brooklyn whatever migas before they sold out. Gochujang portland kale chips beard everyday carry, shoreditch offal 3 wolf moon hammock mlkshk health goth. Wayfarers cardigan street art pinterest waistcoat cliche raclette lo-fi leggings skateboard fanny pack cray. Irony distillery tofu, 8-bit umami subway tile hella street art PBR&B keffiyeh echo park vinyl.</p>

								<h4 id='taxonomy'>Taxonomy</h4>

								<p>Aesthetic crucifix live-edge wolf, pitchfork hot chicken stumptown fam flexitarian locavore gastropub tumeric adaptogen activated charcoal readymade. Craft beer single-origin coffee flexitarian, pop-up photo booth locavore you probably haven't heard of them pour-over 90's aesthetic keffiyeh cred street art tumeric. Man bun chartreuse leggings raw denim enamel pin fixie. Craft beer post-ironic art party glossier occupy meggings tattooed typewriter salvia pug cray scenester snackwave artisan. Meh jean shorts kinfolk, put a bird on it lyft bicycle rights marfa. Pour-over craft beer meh, readymade raw denim iPhone blue bottle jean shorts shabby chic hella ramps celiac squid.</p>

								<p>Quinoa crucifix bespoke freegan kale chips, skateboard offal man bun vape. Biodiesel quinoa photo booth, cornhole af ethical taiyaki. Austin hexagon ennui lomo, gluten-free glossier 3 wolf moon farm-to-table taxidermy irony etsy mumblecore. Salvia +1 succulents knausgaard jean shorts whatever lumbersexual artisan heirloom pok pok green juice 3 wolf moon hashtag. Lo-fi banh mi blue bottle, biodiesel knausgaard craft beer snackwave. Single-origin coffee coloring book heirloom craft beer bushwick forage.</p>

								<h4 id='uses'>Uses</h4>

								<p>Selvage organic ennui sriracha fixie banjo enamel pin la croix shabby chic tacos mlkshk. Banh mi hoodie etsy vaporware wolf vinyl, iceland ramps snackwave coloring book flexitarian. Organic mixtape 3 wolf moon cliche subway tile williamsburg 90's scenester la croix poke intelligentsia activated charcoal. PBR&B green juice heirloom godard wolf cornhole vape church-key occupy 3 wolf moon pabst jianbing roof party before they sold out cloud bread.</p>

								<h4 id='history'>History</h4>

								<p>Tote bag raclette chartreuse, mlkshk shoreditch occupy XOXO polaroid next level iceland. Mustache distillery squid, coloring book microdosing small batch hella shabby chic selfies gentrify. Succulents locavore migas kogi, put a bird on it coloring book shaman normcore godard post-ironic cardigan whatever bespoke prism aesthetic. Activated charcoal chillwave taiyaki +1 truffaut. Succulents marfa try-hard helvetica chia vaporware YOLO viral lumbersexual locavore mlkshk tote bag farm-to-table.</p>

								<p>Cardigan 3 wolf moon 90's crucifix fingerstache pok pok celiac shoreditch hell of wolf tumblr kinfolk. Mlkshk tofu sartorial gochujang hammock, brunch distillery tousled typewriter sriracha tumeric cornhole scenester. Shoreditch XOXO paleo, bitters wolf pitchfork fanny pack chia meh chicharrones vape. Palo santo unicorn vinyl kickstarter schlitz. Echo park schlitz post-ironic shabby chic, palo santo chartreuse gluten-free taiyaki green juice.</p>

								<h4 id='pop'>In Popular Culture</h4>

								<p>Blue bottle selvage whatever neutra lo-fi DIY leggings pork belly enamel pin drinking vinegar. YOLO adaptogen brunch meggings air plant, VHS blog tousled seitan food truck gastropub. Cronut meditation meggings prism lo-fi sustainable four dollar toast fingerstache pug dreamcatcher echo park tousled. Af tousled subway tile hot chicken.

								<p>Venmo swag tumeric scenester lomo asymmetrical XOXO meggings. Hell of 3 wolf moon affogato, taiyaki flannel kale chips asymmetrical typewriter. Farm-to-table tumeric live-edge pour-over semiotics. Vexillologist intelligentsia biodiesel pour-over, tattooed PBR&B photo booth. Sustainable butcher brooklyn live-edge palo santo helvetica, marfa intelligentsia iPhone hoodie thundercats lumbersexual mlkshk wolf.</p>

								<h4 id='sources'>Sources</h4>

								<ul class="sources-list">
									<li><a href="#1">Wood Times</a></li>
									<li><a href='#1'>Leaf Me Alone</a></li>
									<li><a href='#1'>Bending Branches</a></li>
									<li><a href='#1'>Seedlings</a></li>
								</ul>

							</div>
							<div class="pure-u-1 pure-u-lg-7-24 side-content">
								<% if (!wiki.image1) { %>
									<img class="side-bar-image" src="https://images.unsplash.com/photo-1503442862980-50ccb3f1d085?ixlib=rb-0.3.5&s=4fd204e0b6d85fa52d6ecc73da1e98e7" alt="you are here placeholder"/>
								<% } else { %>
									<img class="side-bar-image" src="<%= wiki.image2 %>" alt="<%= wiki.title %>-sidebar image"/>
								<% } %>
								<h4>Fast Facts</h4>
								<div class="fast-facts">
									<ul>
										<li>
											<h5>Location</h5>
											<p>California, USA</p>
										</li>
										<li>
											<h5>Scientific Name</h5>
											<p>Cupressaceae Sequoioideae</p>
										</li>
										<li>
											<h5>Life Span</h5>
											<p>100-200 years</p>
										</li>
										<li>
											<h5>Famous Sequoias</h5>
											<p>General Sherman</p>
										</li>
									</ul>
								</div>
								<div class="user-edit">
									<a class="user-link" href="/users/<%= wiki.User.id %> ">Created by: <%= wiki.User.username %> </a>
									<% if (currentUser) { %>
										<div class="user-buttons">
											<a href='/wikis/<%= wiki.id %>/edit' class="pure-button pure-button-primary">Edit Wiki</a>
											<form action='/wikis/<%= wiki.id %>/destroy' method="POST">
												<button type="submit"class="pure-button pure-button-primary">Delete Wiki</button>
											</form>
										</div>
									<% } %>
								</div>
							</div>
							<footer>
								<a class="back-to-top"href='#top-image'>Back to top</a>
							</footer>
						</div>
					</div>
			</div>
  </div>
  <% include ../static/partials/bodyscripts.ejs %>
</body>
