<!DOCTYPE html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <div id="layout">
    <% include ../static/partials/navbar.ejs %>
      <div class="pure-g">
					<div class="pure-u-1">
						<div class="title-bar-left"></div>
							<div class="pure-u-1 main-image" id="top-image">
								<% if (!wiki.image1) { %>
									<img src="https://images.unsplash.com/photo-1523006833682-76d3571494ef?ixlib=rb-0.3.5&s=2225aafbaa5684867a8d4d81beef29f0" alt="gray placeholder"/>
								<% } else { %>
									<img src="<%= wiki.image1 %>" alt="<%= wiki.title %>-main image"/>
								<% } %>
								<% if (wiki.private) { %>
									<h1><%= wiki.title %> <i class="fas fa-unlock-alt"></i></h1>
								<% } else { %>
									<h1><%= wiki.title %></h1>
								<% } %>
							</div>
						<div class="pure-u-1 wiki-content">
							<div class="pure-u-1 pure-u-lg-2-3 main-content">
								<%- wikiMarkdown.body %>
							</div>
							<div class="pure-u-1 pure-u-lg-7-24 side-content">
								<% if (!wiki.image1) { %>
									<img class="side-bar-image" src="https://images.unsplash.com/photo-1503442862980-50ccb3f1d085?ixlib=rb-0.3.5&s=4fd204e0b6d85fa52d6ecc73da1e98e7" alt="you are here placeholder"/>
								<% } else { %>
									<img class="side-bar-image" src="<%= wiki.image2 %>" alt="<%= wiki.title %>-sidebar image"/>
								<% } %>
								<h1>Fast Facts</h1>
								<div class="fast-facts">
									<%- wikiMarkdown.fastFacts %>
								</div>
								<div class="user-edit">
									<a class="user-link" href="/users/<%= wiki.User.id %>">Created by: <%= wiki.User.username %> </a>
										<% if (currentUser) { %>
											<% if (wiki.private) { %>
												<% if (currentUser.role != 0 || currentUser.id == wiki.User.id) { %>
													<a href='/wikis/<%= wiki.id %>/edit' class="pure-button pure-button-primary">Edit Wiki</a>
													<form action='/wikis/<%= wiki.id %>/destroy' style="margin: 0 auto" class="pure-form" method="POST">
														<button type="submit"class="pure-button pure-button-primary">Delete Wiki</button>
													</form>
													<a href='/wikis/<%= wiki.id %>/collaborate' class="pure-button pure-button-primary">Add Collaborator</a>
													<a href='/wikis/<%= wiki.id %>/collaborate/edit' class="pure-button pure-button-primary">Remove Collaborator</a>
												<% } else { %>
														<% collaborators.forEach(collaborator => { %>
															<% if (collaborator.userId == currentUser.id) { %>
																<a href='/wikis/<%= wiki.id %>/edit' class="pure-button pure-button-primary">Edit Wiki</a>
															<% } %>
														<% }) %>
												<% } %>
											<% } else { %>
												<a href='/wikis/<%= wiki.id %>/edit' class="pure-button pure-button-primary">Edit Wiki</a>
												<% if (currentUser.role != 0 || wiki.User.id == currentUser.id) { %>
													<form action='/wikis/<%= wiki.id %>/destroy' style="margin: 0 auto" class="pure-form" method="POST">
														<button type="submit"class="pure-button pure-button-primary">Delete Wiki</button>
													</form>
												<% } %>
											<% } %>
										<% } else { %>
											<p>You need to sign in first to edit Wikis</p>
										<% } %>
								</div>
								<% if (wiki.private) { %>
									<div class="contribution-list">
										<table class="pure-table pure-table-horizontal pure-table-striped">
											<thead class="wiki-list-head">
												<tr>
													<th class="wiki-list-head-title">Wiki Contributors</th>
												</tr>
											</thead>
											<tbody>
												<% collaborators.forEach(collaborator => { %>
													<tr>
														<td><a href="/users/<%= wiki.User.id %>"><%= collaborator.User.username %></a> </td>
													</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
								<% } %>
						</div>

						<% include ../static/partials/messages.ejs %>
						<footer>
							<a class="back-to-top"href='#top-image'>Back to top</a>
						</footer>
					</div>
				</div>
			</div>
  </div>
  <% include ../static/partials/bodyscripts.ejs %>
</body>
